body {
    font-family: Arial, sans-serif;
    background-color: rgb(43, 138, 117);
}

h1 {
    text-align: center;
    color: #333;
}

main {
    min-height: 100vh;
}

.company-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.company-card {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 220px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.company-card:hover {
    transform: scale(1.05);
}

.company-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.iframe-container {
    width: 200px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    display: flex; /* Flexbox otetaan käyttöön */
    position: relative;
    margin-left: 8px;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px; /* Normaalikoko, esimerkiksi 1000px */
    height: 750px; /* Normaalikoko, esimerkiksi 750px */
    border: none;
    transform: scale(0.2); /* Skaalaa koko 20%:iin */
    transform-origin: top left; /* Skaalaus alkaa vasemmasta yläkulmasta */
    pointer-events: none; /* Estää iframen klikkaukset */
    overflow: hidden; /* Piilottaa vierityspalkit */
}

a.fullscreen-link {
    text-decoration: none;
}

a.fullscreen-link:hover {
    text-decoration: underline;
}

footer 
{
    background-color: rgb(43, 138, 117);
    color: #fff;
    padding: 20px;
    width: 100%; /* Varmistaa, että footer täyttää koko leveyden */
    text-align: center;
}

.footerContainer 
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 20px;
}

.footerSection 
{
    width: auto;
    padding-right: 20px; 
}

.footerLogo 
{
    display: flex;
    align-items: center;
    justify-content: 20px; 
}

.footerLogo img 
{
    max-width: 8vw; 
    border: 2px black solid;
    padding: 2%;
    margin-left: 20px;
}